{{ role_name }}
-----

{# A brief description of the role. #}

Requirements
---

{# Any prerequisites that may be covered by Ansible, the {{ role_name }}, and any that are not included should be 
cited here.  Any required Collections would be a good example. #}

Dependencies
---

{# A list of other roles hosted on Galaxy and/or the {{ role_name }} for the project should be cited here. #}

Variables
---

{# Any variable information should be cited here. #}

{{ role_name }} playbook
---

{# Include an example of how to use the project.  The use of variables being passed in is also informative. #}

License
---

{# MIT, etc. #}

Author / Footnotes
---

{# John_Smith 
References #}

